body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media screen and (orientation: landscape) {
	#root {
		height: 120vh;
		width: 100vw;
	}
	#container {
		display: grid;
		grid-template-rows: 30vh 70vh 20vh;
		grid-template-columns: 30vw 20vw 50vw;
	}
	body {
		overflow-x: hidden;
	}
}