.pool {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2vw;
    grid-row: 1 / 2;
    color: #444545;
    grid-column: 2 / 4;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(    
        165deg,
        #F5F2E3 65%, #D3D0C1
    );
    border-bottom: 3px solid #444545;
}
@media screen and (orientation: portrait) {
    .pool {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}